html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    font-size: 24px;
    font-weight: 400;
}
button, #screen{
    background-color: rgba(216, 214, 214, 0.3);
}
button {
    cursor: pointer;
    text-align: center;
    padding: 4px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}
.display-screen-item{
    justify-content: flex-end;
    overflow: hidden;
    padding: 0 2px;
    font-size: 24px;
    font-weight: 200;
}
.flex-container{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.black-border{
    border: 1px solid black;
    border-radius: 4px;
}
#calculator{
    padding: 8px;
    gap: 8px;
    width: 230px;
}
#keyboard{
    /* border: 1px solid red; */
    gap: 4px;
}
#screen{
    height: 60px;
    justify-content: space-between;
}
#calculator-container{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    gap: 4px;
    justify-content: center;
}
.orange-color{
    color: orange;
}
.orange-bg{
    background-color: orange;
}
#decimal, #equals{
    flex-grow: 0;
}
#zero{
    flex-grow: 1;
}

